.translucent-form-overlay {
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.2);
    width: 80%;
  }
#currContainer {
    background-color: rgb(217, 234, 238);
    padding: 20px;
}